.mat-toolbar {
    width: 100%;
}

.container {
    transform: translateY(4rem);
    justify-content: left;
    align-items: start;
    gap: 0.5rem;
    width: 100%;
    overflow-y: hidden;
}

.spinner-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .weather-card {
    padding: 0 0.5rem;
 }

.spacer {
    flex: 1 1 auto;
}

.dark {
    background-color: #002dfb;
}

.light {
    background-color: #fbce00;
}