

.weather-card-header {
    display: flex;
    gap: 16px;
    h1 {
        font-size: 5.5rem;
        font-weight: 100;
        transform: translateY(2.5rem);
    }
}

h3 {
    margin: 0 0 0.5rem;
}


.info-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}


    
svg {
    display: inline-block;
    all: inherit;
    fill: #000;
    stroke: #000;
    width: 48px;
    height: 48px;
}

/* Mobile Devices */
@media only screen and (max-width: 767px) {
    /* CSS styles for mobile devices */
    .weather-card {
            width: 100%;
        }
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* CSS styles for tablets */
   
}

/* Desktops and Laptops */
@media only screen and (min-width: 1024px) and (max-width: 1919px) {
    /* CSS styles for desktops and laptops */
    .weather-card {
            width: 25vw;
        }
}

